{% extends "users/base.html" %}
{% block title %} Донат Предметы {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->







<div class="limiter">
    <div class="jumbotron">
        <h1 class="display-5">        Донат Предметы          </h1>
             
<div class="no-break">
        
        <p class="lead">
            Все цены указаны в рублях. Ссылки и картинки в разработке. (Приписька)

        </p>
        




<h2 class="display-5">      Под пространства ("Карманы")       </h2>




(на данный момент пинайте гма, чтоб я картинками показал. Еще пишется, я недооценил масштаб работы)


<li><h3 class="display-5">&nbsp;      Складские Услуги      </h3></li>





<li><h3 class="display-5">&nbsp;      Помещения      </h3></li>







<li><h3 class="display-5">&nbsp;      Мешочки      </h3></li>

  <p>
    Маленький — <b>12.000</b> 
    (пространство размером в <b>3–4 м</b> радиусом и <b>1–2 м</b> глубиной)
  </p>
  <p>
    Средний — <b>27.000</b>
    (пространство радиусом <b>10–12 м</b> и глубиной <b>2–3 м</b>)
  </p>
  <p>
    Большой — <b>40.000</b>
    (пространство размером с большой дом)
  </p>

  <p>
    Бесконечный Мешочек — это артефакт неизвестного происхождения (наиболее вероятно — контрафакт). 
    На него распространяются все прочие правила подпространств, но при этом он ещё и имеет «округлую форму» — 
    что мешает удобно расставлять объекты внутри. А ещё внутри темно и страшно, не предназначены для содержания живых существ.
  </p>
  <p>
    Основная проблема таких мешков — однажды у них кончится мана и они должны взорваться.
    Однако сколько внутри маны и когда это должно случиться, никто не знает.
  </p>




<li><h3 class="display-5">&nbsp;      Древние Боги      </h3></li>



 <h5><p>Карман у "Не Честного Друга" (Древний Бог) - <b>60.000</b></p></h5>


  <p>"Не Честный Друг" - древний бог со слабо-прогнозируемым поведением. В отличии от Честного Друга, Не Честный Друг может что-то тырит, обычно мелкое и сравнительно не дорогое (например монетку из мешка, один кинжал из большой партии или камушек из ботинка). Не Честный Друг не отбирает всего и сам по себе ничего не просит, но и не отказывается от даров (это правда не помогает избавиться от его клептомании). Размер пространства не точен, однако сравним с "однушкой". Пространство пригодно для условной жизни.</p>
  <p>Бывает в двух вариантах (на персонажа или ключ)</p>

  <h5><p>Карман у "Честного Друга" (Древний Бог) - <b>100.000</b></p></h5>
  <p>"Честный Друг" - один из немногих, честных древних богов. После взятия этого доната, считается, что вы сделали что-то крайне важное в его планах и за это он позволяет пользоваться некоторым под-пространством под его контролем. "Честный Друг" не был замечен в нарушении сделок или воровстве. Размер пространства не точен, однако сравним с "однушкой". Пространство пригодно для условной жизни.</p>
  <p>Бывает в двух вариантах (на персонажа или ключ)</p>

  <h5><p>Творения Хайда-баскара (Древний Бог) - <b>140.000</b></p></h5>
  <p>Хайда-баскар - могущественный и скрытный древний бог, замешанный в самых сложных проявлениях звездной магии и сил древних богов, источник его силы, точный характер и цели - не известны. Однако некоторые смертные сталкиваются с его дарами. Хайда-баскар дарует точные знания, инструкцию использования своих даров и более не отвечает и не реагирует на любые действия. Дары Хайда-Баскара не возможно отследить, привычными способами. Хайда-баскар никогда не воровал и намеренно не обманывал, хотя иногда вводил в заблуждение. "Карман" Хайда-Баскара большой, даже очень. В нем можно разместить, если и не поселение, то точно богатое поместье. Жизнь в таком пространстве возможна, хотя и немного затрудненна. Однако самое главное - пространство Хайда-Баскара не боиться мифрила и подобных ему изделий. Хотя существуют некоторые виды магии, опасные для этого дара.</p>
  <p>Реализация этого дара простая - обладатель способен открыть "портал", радиусом около 1м из руки/от руки и даже поставить рядом с собой его, если расположить на объекте (например на земле) - может быть применено как оружие обезвреживания.</p>
  <p>*<b>Внимание</b> Дар Хайда-баскара идет на персонажа и может передаваться "Только наследникам" (т.е. по вредной очереди наследования детям), это значит что вы не сможете им махнутся с другим игроком или даже другим вашим персонажем.</p>








<h2 class="display-5">      Ниже не актуальные старые записи (просто чтоб где-то валялись)       </h2>

Ингредиент для заклинания - 100-1000 (на одно заклинание)

Различные артефакты(будут добавляться):
Мифриловое оружие - 500-1500 (от кол-ва металла и конструкции)
Мифриловые доспехи - 500-1000 (от части доспеха)
Полный мифриловый доспех латного типа - 8000
Кольцо анти-яд - 4500 рублей
Свой артефакт - от 1.5к (если работает в сеттинге)
Технологический разумный костюм (специальный) - 20к
Технологический разумный костюм (полицейский) - 50к
Технологический разумный костюм (военный) - 100к
Технологический костюм с помощником - от 200к
Открытие новой функции технокостюма - 3-15к 

Покупка вещей:
Мешок зерна(1 кг) - 500
Мешок с картошкой(1 кг) - 2000
    
Расходники:
Слезы луны - пока что 650 руб штука (мб потом подкоректим)

1 зл = 8руб
( 
от 1000 зл скидка 10% 
от 5000 зл скидка 25%, 
от 10 000 зл скидка 30%, 
от 100 000 зл скидка  60%
)

Кристалл Гадегара (второй и третий по порядку) - 2500 руб

----------------------------------------------------
Половые Истории:
1см = 100 рублей до 30см (от 31 до 60см = 200 рублей, от 61 до 90см = 300 руб, от 91 до 120см = 400 руб) - работает как на увеличение, так и на уменьшение

Смена Пола (Зельем) = 2000 руб
----------------------------------------------------
Зелья: (На паузе - пинать грима)

Зелье лечение = 500 руб
"Эльфийский Экстракт" = Первые 5 по 2000, следующие по 3000 руб 




</div>
        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}


