{% extends "users/base.html" %}
{% block title %} FAQ {% endblock title%}
{% block content %}
{% load group_tags %}






   <!-- Выдает Имя пользователя   {{user.first_name.title|default:''}}     -->






<div class="limiter">
    <div class="jumbotron">
        <h1 class="display-5">        Общая Информация         </h1>
             

        
        <p class="lead">
            Приписька.

        </p>
     







        
        <hr class="my-4">
        <p class="lead">

            
        </p>
    </div>

</div>

{% endblock content %}






