{% extends 'lessons/layout.html'%}
{% load static %} 
{% load group_tags %}


{% block title %}

הקוסם מארץ עוץ 

{% endblock %} 



{% block content %}

{% if user.is_authenticated %}

{% if user|in_group:"book_1_(הקוסם מארץ עוץ)" %}



<div class="features">
  <br>
    <h1 class="center"> הקוסם מארץ עוץ  </h1>
    <br>
    
    

  <div class="arial-text">
  <div class="pagination"> <!--<a href="#">&NestedLessLess;</a> -->



     
    <a href="{% url 'oz_book_17' %}"><<</a>

    <a href="{% url 'oz_book_12' %}">12</a>
    <a href="{% url 'oz_book_11' %}" class="active_butt_pag">11</a>
    <a href="{% url 'oz_book_10' %}">10</a>

    <a href="{% url 'oz_book_1' %}">>></a>

  </div> <!--   <a href="#">&NestedGreaterGreater;</a>       -->
  <hr width="100%;" color="black" >
  <div class="main_part_lesson">



    <div class="center">  

    <div style="position: relative; display: inline-block;">
      <img src="https://oeycfg7fhavle8jh.public.blob.vercel-storage.com/oz-book/Oz_Pics_11-YiyDOujdOBfdWJvL48rPT3ix3HmGNe.png" alt="Защищенное изображение">
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div>
</div>




  

<div class="right" dir="rtl">
  אז האריה הצטרף לדורותי, לטוטו, לדחליל ולאיש הפח, <b>עַד מְהֵרָה</b> הגיעו דרך הלבנים הצהובות לעיר הָאִזְמַרְגָּד. ה<b>מְאַבְטֵחַ</b> ב<b>שַׁעַר</b> אמר לדורותי <b>כי</b> <b>מְעַט</b> אנשים ראו <b>אִי פַּעַם</b> את הקוסם עוץ הגדול.
  הקבוצה הקטנטנה נכנסה לחדר ה<b>מַרְשִׁים</b> והגדול ו<b>הִתְקָרְבָה</b> לקוסם. הוא <b>הִקְשִׁיב</b> ל<b><font color="#004aad">בַּקָּשׁוֹתֵיהֶם</font></b> ואז ענה…
  
  <br><br>

  <div class="audio_google_file">

    <audio src="https://oeycfg7fhavle8jh.public.blob.vercel-storage.com/oz-book/audio/Voiceover_Oz_11-nTBciFVXnTKNXtB3isXL0mfspEpDNZ.m4a" id="audio" controls controlsList="nodownload"> 
    </audio>


    </div>

  <div class="right">

    <div class="book_dictionary">


  <p><b>עַד מְהֵרָה</b> – вскоре</p>
  <p><b>מְאַבְטֵחַ</b> – охранник</p>
  <p><b>שַׁעַר</b> – ворота, вход</p>
  <p><b>מְעַט</b> – немного</p>
  <p><b>כי = ש</b></p>
  <br>
  <p><b>אִי פַּעַם</b> – когда–либо</p>
  <p><b>מַרְשִׁים</b> – впечатляющий</p>
  <p><b>מַרְשִׁים</b> – впечатляющий, внушительный</p>
  <p><b>לְהִתְקָרֵב</b> – приближаться</p>
  <p><b>לְהַקְשִׁיב</b> – слушать, прислушиваться</p>
  </div>
  </div>

</div>

  
</div>









  </div>
</div>
   

<br><br>
<hr width="100%;" color="black" >


<p>

<div class="pdf_link">

  Если у вас не отображается книга, Пожалуйста сообщите об этом!

</div></p>

</div>  
{% else %}
<p>К сожалению эта книга вам не доступна, если вы уже оплатили ее, Пожалуйста сообщите нам об этом.</p>
{% endif %}

{% else %}

Вы не вошли в ваш аккаунт. Войдите Пожалуйста.

{% endif %}


{% endblock %} 